@import "../../components/config.scss";

.root {
  width: 100%;
  overflow: auto;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  height: 5rem;
  border-bottom: 1px solid $grey-500;
  white-space: nowrap;

  h1 {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.emailContainer {
  > div {
    &:last-of-type {
      border: none;
    }
  }
}

.emptyBox {
  width: 15rem;
  height: 15rem;
  display: flex;
  background: $grey-300;
  justify-content: center;
  padding: 3rem;
  border-radius: 50%;
  user-select: none;

  img {
    width: 100%;
    filter: grayscale(1);
  }
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $grey-500;
  margin: 5rem 0;

  h3 {
    margin: 0;
    margin-top: 1rem;
  }
}
