@import '../../components/config.scss';

.container {
  margin-top: $header-height;
  min-height: calc(100vh - #{$header-height});
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: url("../../images/background-10.png");
}

.formContainer {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  width: 100%;
  padding: 2.5rem;
  position: relative;
  overflow: hidden;

  button {
    margin: 2rem 0;
  }
}

.title {
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.successIcon {
  margin-top: 20px;
  margin-bottom: 20px;
  background: $green-200;
  border-radius: 50%;
  padding: 20px;
}
