@import "./config.scss";

.root {
  background: #063f5f;

  section {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgba(255, 255, 255, 0.9);
  }
}
