@import '../../components/config.scss';

.imageContainer {
  background: #62B5E9;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 50%;
  }
}

.titleContainer {
  background: #62B5E9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  h1, h2, h3 {
    margin: 0;
  }
}

:global {
  .home-container {
    margin-top: $header-height;
  
    .section1 {
      height: 70rem;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      section {
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
  
      h1 {
        font-size: 5rem;
        font-weight: 300;
        margin: 0;
      }
  
      h2 {
        font-size: 2rem;
        font-weight: 300;
        margin: 0;
      }
  
      .register-btn {
        background: $ruby-grapefruit;
        font-size: 2rem;
        border: 0.2rem solid;
        padding: 1rem 4rem;
        margin-top: 3rem;
      }
    }
  
    .section2 {
      color: $moss-river;
      margin: 5rem 0;
  
      section {
        display: flex;
        flex-wrap: wrap;
      }
  
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 3rem;
        flex: 100%;
  
        @media #{$gt-sm} {
          flex: 1;
        }
  
        p {
          font-size: 1.5rem;
        }
  
        h3 {
          font-size: 1.9rem;
        }
  
        i {
          font-size: 10rem;
          color: $ruby-grapefruit;
        }
      }
    }
  }  
}