@import '../../components/config.scss';

.root {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.header {
  flex: 0 0 auto;
}

.footer {
  text-align: right;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.editorContainer {
  flex: 1;
  overflow: auto;
  display: flex;
  margin-top: 2rem;
}

.editorToolbar {
  border: none;
  border-bottom: 1px solid $grey-500;
  border-radius: 0;
}

.editorWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white;
}

.editorText {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  flex: 1;
  padding: 1rem;
}