@import "../config.scss";

.root {
  display: flex;
  flex-direction: column;
  background: $moss-river;
  width: 300px;

  span, svg {
    color: white;
  }

  a:hover {
    text-decoration: none;
  }

  .selected {
    background: $ruby-grapefruit;
    background: $teal;
  }
}

.label {
  white-space: nowrap;

  > span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.divider {
  background-color: $grey-300;
}

.list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

.listItem {
  .actions {
    color: red;
    opacity: 0;
  }

  &:hover .actions {
    opacity: 1;
  }
}